<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Monitoreo </ion-card-title>
    <ion-card-subtitle>Ingrese Credenciales</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <app-textbox [property]="user" (eventChange)="eventChangeText($event)"></app-textbox>

    <app-textbox [property]="password" (eventChange)="eventChangeText($event)"></app-textbox>
  </ion-card-content>
</ion-card>